<h3>Chat</h3>
<div ng-repeat='post in vmc.chat'>
  <strong>{{post.data.name}}:</strong> {{post.data.message}}
</div>

<br><br>

<form ng-submit='vmc.postChat(name, message)'>
  Name: <input ng-model='name'><br>
  Message: <input ng-model='message'><br>
  <button ng-disabled='!name || !message' type='submit'>Submit</button>
</form>

<br><br>
<div>Update the following in the chat view:</div>
<ol>
  <li>Chat <a target='_blank' href='https://material.angularjs.org/latest/demo/list'>list</a></li>
  <li>Submit <a target='_blank' href='https://material.angularjs.org/latest/demo/input'>form and inputs</a></li>
  <li><a target='_blank' href='https://material.angularjs.org/latest/demo/button'>Buttons</a></li>
</ol>
