<h3>Create new user:</h3>
<form ng-submit='vmc.addNewUser(newUser)'>
  <md-content>
    <div>
      <md-input-container>
        <label>Name</label>
        <input ng-model='newUser.name'>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>Email</label>
        <input type='email' ng-model='newUser.email'>
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised" ng-disabled='!newUser.name || !newUser.email'>Submit</md-button>
    </div>
  </md-content>
</form>
