<h3>User List</h3>

<div>Search: <input ng-model='vmc.search'></div>
<br>
<div ng-repeat='user in vmc.users | filter: vmc.search | orderBy:"data.name"'>
  <input ng-model='user.data.name' ng-change='vmc.editUser(user)'>
  <input ng-model='user.data.email' ng-change='vmc.editUser(user)'>
  <button ng-click='vmc.deleteUser(user)'>Delete</button>
</div>

<br><br>
<div>Update the following in the user list view:</div>
<ol>
  <li>User <a target='_blank' href='https://material.angularjs.org/latest/demo/list'>list</a></li>
  <li>Search <a target='_blank' href='https://material.angularjs.org/latest/demo/input'>input</a></li>
  <li><a target='_blank' href='https://material.angularjs.org/latest/demo/button'>Buttons</a></li>
</ol>
